<div>
  <section class="main-content columns is-fullheight"  style="margin-top: 40px">

    <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile" style="width: 14%; padding: 5px 40px 8px;">
      <ul class="menu-list">
        <li>
          <a routerLink="/trello/workspaces/{{workspace.id}}" >
            <span class="icon"><i class="fab fa-trello logo-icon"></i></span> Board
          </a>
        </li>
        <li>
          <a routerLink="/trello/workspaces/{{workspace.id}}/members" class="is-active" >
            <span class="icon"><i class="fa fa-table"></i></span> Members
          </a>
        </li>
        <li *ngIf="currentUser.id == owner.id">
          <a style="color: red" (click)="showModalDelete()">
            <span style="color: red" class="icon"><i class="fas fa-trash-alt"></i></span> Delete
          </a>
          <div class="dropdown is-active" *ngIf="modalDelete">
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item" style="text-align: center">
                  <div style="padding: 10px; border-bottom: 1px solid darkgray">
                    <h2 style="font-size: 16px">Delete workspace?</h2>
                  </div>
                  <div class="buttons" style="margin-top: 10px;justify-content: center">
                    <button class="button is-danger is-light" (click)="deleteWorkspace(workspace.id)">Yes</button>
                    <button class="button is-info is-light" (click)="hideModalDelete()">No</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </aside>

    <div class="container column is-10">
      <div class="navbar-end" *ngIf="roleUserInWorkspace || currentUser.id == workspace.owner?.id">
        <div class="navbar-item">
          <div class="buttons" style="margin-right: 200px">
            <div class="dropdown is-active">
              <div class="dropdown-trigger">
                <input #searchUser class="input is-link" type="text" placeholder="Invite user"
                       (keyup)="findAllUserByUsername(searchUser.value)">
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu" *ngIf="searchUser.value">
                <div class="dropdown-content">
                  <div *ngFor="let user of users" class="dropdown-item" (click)="selectUser(searchUser, user)">
              <span *ngIf="workspace.owner.id != user.id">
              @{{user.username}}({{user.nickname}})
            </span>
                  </div>

                </div>
              </div>
            </div>
            <button class="button is-primary" (click)="addMemberWorkspace()" style="width: 100px">
              <i class="fas fa-user-plus"></i>
              Invite
            </button>
            <div class="dropdown is-active">
              <div class="dropdown-menu" role="menu" *ngIf="addUserList.length !=0" style="top: -24px">
                <div class="dropdown-content">
            <span *ngFor="let user of addUserList" class="dropdown-item user-invite"
                  (click)="removeUserAdded(addUserList.indexOf(user))">
              @{{user.username}}({{user.nickname}})
            </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="title-board">
        <input #searchMember class="input is-link" type="text" placeholder="Find Member" (keyup)="findMemberWorkspaceByKeyword(searchMember.value)">
      </div>
      <div class="user-container">
        <div class="user-info">
          <div>
            <img class="user-img" src="{{owner.image}}">
          </div>
          <div class="user-name">
            <h2 class="user-nickname">{{owner.nickname}}</h2>
            <h6 class="user-username">@{{owner.username}}</h6>
          </div>
        </div>
        <div>
          <button class="button is-primary">
            Owner
          </button>
        </div>
      </div>
      <div class="user-container" *ngFor="let member of listMemberWorkspace; index as i" [class.background-current-user]="currentUser.id == member.user?.id">
        <div class="user-info">
          <div>
            <img class="user-img" src="{{member.user?.image}}">
          </div>
          <div class="user-name">
            <h2 class="user-nickname">{{member.user?.nickname}}</h2>
            <h6 class="user-username">@{{member.user?.username}}</h6>
          </div>
        </div>
        <div>
          <button class="button is-primary">
            {{member.role}}
          </button>
          <button class="button is-primary" style="width: 40px" (click)="removeMembers(i)"
                  *ngIf="workspace.owner.id == currentUser.id" >
            <i class="fas fa-user-minus" style="color: red"></i>
          </button>
          <button class="button is-primary" style="width: 40px" (click)="removeMembers(i)"
                  *ngIf="member.user?.id == currentUser.id && member.role != 'Admin'" >
            <i class="fas fa-user-minus" style="color: red"></i>
          </button>
          <button class="button is-primary" style="width: 40px" (click)="removeMembers(i)"
                  *ngIf="roleUserInWorkspace" >
            <i class="fas fa-user-minus" style="color: red"></i>
          </button>

          <button class="button is-success" style="top: 10px" (click)="updateMember(member,'Admin')"
                  *ngIf="roleUserInWorkspace && member.role !== 'Admin'">Set Admin
          </button>
          <button class="button is-success" style="top: 10px" (click)="updateMember(member,'Member')"
                  *ngIf="roleUserInWorkspace && member.role == 'Admin' && currentUser.id != member.user?.id">Set Member
          </button>
          <button class="button is-success" style="top: 10px" (click)="updateMember(member,'Admin')"
                  *ngIf="workspace.owner.id == currentUser.id && member.role !== 'Admin'">Set Admin
          </button>
          <button class="button is-success" style="top: 10px" (click)="updateMember(member,'Member')"
                  *ngIf="workspace.owner.id == currentUser.id && member.role == 'Admin'">Set Member
          </button>
        </div>
      </div>
    </div>
  </section>
</div>




