<!--board-header-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-item">
      <div class="buttons">
        <input *ngIf="canEdit" [(ngModel)]="board.title" class="button is-primary" (change)="updateBoardTitle()">
        <button *ngIf="!canEdit" class="button is-primary">
          {{board.title}}
        </button>
        <button class="button is-primary">
          <img *ngIf="!board.owner.image" src="https://i.pinimg.com/originals/57/fb/31/57fb3190d0cc1726d782c4e25e8561e9.png" class="img-circle is-48x48"/>
          <img *ngIf="board.owner.image" [src]="board.owner.image" class="img-circle is-48x48"/>
          {{board.owner.username}}
        </button>
        <button class="button is-primary">
          <i class="far fa-star"></i>
        </button>

        <div>
          <span *ngFor="let member of members; index as i">
            <a (click)="showDetail(member)" (mouseover)="showUserPreview(member)"
               (mouseout)="closeUserPreviews()"
               class="user-preview" style="position: relative"
               [ngClass]="{'is-hidden': i >= 5}">
              <img *ngIf="member.image" [src]="member.image" class="img-circle"/>
              <img *ngIf="!member.image" src="https://i.pinimg.com/originals/57/fb/31/57fb3190d0cc1726d782c4e25e8561e9.png" class="img-circle"/>
              <span id="user-preview-text-{{member.userId}}"
                    class="user-preview-text is-hidden tag is-info is-light"
                    style="position: absolute; top: 20px; left:5px; float: top">
                User preview text
              </span>
            </a>
          </span>
          <span *ngIf="members.length > 5">
            <a>
              <img src="./assets/img/three-dots.png" (click)="showAllMembers()" class="img-circle"/>
            </a>
          </span>
        </div>

      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div style="position: relative">
            <div id="filter-btn-dropdown" class="columns has-background-white is-hidden" >
              <div class="column is-one-fifth" style="width: 22%;">
                <button class="button small-button" (click)="filterBoard()">Sort</button>
                <button class="button small-button" (click)="clearFilterBoard()">Clear</button>
              </div>
              <div class="column" style="width: max-content">
                Tags
                <ul class="checkbox">
                  <li *ngFor="let tag of tags">
                    <input type="checkbox" [value]="tag.id" class="tag-filter-option filter-option">
                    <span class="tag is-light" [ngClass]="tag.color">{{tag.name}}</span>
                  </li>
                </ul>
              </div>
              <div class="column">
                Members
                <ul class="checkbox">
                  <li *ngFor="let member of members">
                    <input type="checkbox" [value]="member.userId" class="member-filter-option filter-option">
                    <span class="tag is-light">@{{member.username}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button class="button is-primary" (click)="toggleElement('filter-btn-dropdown')">
            <i class="fas fa-filter"></i>
            Filter
          </button>
          <div style="position: relative">
            <div id="menu-btn-dropdown" class="is-hidden" style="position: absolute; top: 25px">
              <button *ngIf="canEdit" class="button is-danger is-light" (click)="toggleDeleteBoardModal()">Remove Board</button>
            </div>
          </div>
          <button class="button is-primary" (click)="toggleMenu()">
            <i class="fas fa-ellipsis-h"></i>
            Menu
          </button>

          <button *ngIf="canEdit && !isInWorkspace" class="button is-primary"
                  (click)="toggleUserSearchBar()">
            <i class="fas fa-user-plus"></i>Invite
          </button>
          <div class="icon-item" >
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-primary" (click)="toggleMenu()">
                  <i class="fas fa-list"></i>
                  Activity
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu5" role="menu">
                <div class="dropdown-content" style="padding: 0">
                  <div class="header__navbar-item header__navbar-item--has-notify">
                    <div class="header__notify">
                      <header class="header__notify-header">
                        <h3>Activity</h3>
                      </header>
                      <ul class="header__notify-list">
                        <li class="header__notify-item" *ngFor="let activity of activityLogService.activities"  [class.mark-read]="activity.status">
                          <a  class="header__notify-link" routerLink="{{activity.url}}" *ngIf="activity.card" (click)="redirectService.showModal(activity.card)">
                            <img src="https://dizibrand.com/wp-content/uploads/2019/07/trello-la-gi-dizibrand-1.png" alt=""
                                 class="header__notify-img">
                            <div class="header__notify-info">
                              <span class="header__notify-name">{{activity.title}}</span>
                              <span class="header__notify-description">{{activity.content}}</span>
                            </div>
                          </a>
                          <a  class="header__notify-link" routerLink="{{activity.url}}" *ngIf="!activity.card">
                            <img src="https://dizibrand.com/wp-content/uploads/2019/07/trello-la-gi-dizibrand-1.png" alt=""
                                 class="header__notify-img">
                            <div class="header__notify-info">
                              <span class="header__notify-name">{{activity.title}}</span>
                              <span class="header__notify-description">{{activity.content}}</span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <div *ngIf="searchBarIsShown" class="search-bar-input">
              <input class="input" type="text" placeholder="Search member" [(ngModel)]="userSearch"
                     (keyup)="searchUsers()">
              <div *ngIf="userResult.length" class="dropdown-content">
                <a *ngFor="let result of userResult" class="dropdown-item" (click)="addMember(result)">
                  <img *ngIf="!result.image" src="https://i.pinimg.com/originals/57/fb/31/57fb3190d0cc1726d782c4e25e8561e9.png" class="img-circle is-48x48">
                  <img *ngIf="result.image" [src]="result.image" class="img-circle is-48x48">
                  @{{result.username}} <span *ngIf="result.nickname">({{result.nickname}})</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--User details modal-->
<div class="modal" id="user-detail-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Member Details</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img *ngIf="!selectedMember.image" src="assets/img/nicki-eliza.jpg" class="img-circle"/>
                <img *ngIf="selectedMember.image" [src]="selectedMember.image" alt="Placeholder image"
                     class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4" *ngIf="selectedMember.nickname">{{selectedMember.nickname}}</p>
              <p class="title is-4" *ngIf="!selectedMember.nickname">{{selectedMember.username}}</p>
              <p class="subtitle is-6">@{{selectedMember.username}}</p>
            </div>
          </div>
          <div class="content">
            <div *ngIf="selectedMember.canEdit" class="notification is-success is-light">This user has the right to edit
              this board
            </div>
            <div *ngIf="!selectedMember.canEdit" class="notification is-info is-light">This user can not edit. Ask board
              owner for permission!
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger is-light"
              *ngIf="canEdit && (selectedMember.userId != authenticationService.getCurrentUserValue().id)" (click)="removeSelectedMember()">
        Remove member
      </button>
      <span *ngIf="canEdit && (selectedMember.userId != authenticationService.getCurrentUserValue().id)">
        <button class="button is-secondary is-light"
                *ngIf="selectedMember.canEdit"
                (click)="makeSelectedMemberObserver()">
        Make observer
      </button>
      <button class="button is-success is-light"
              *ngIf="!selectedMember.canEdit"
              (click)="makeSelectedMemberEditor()">
        Make editor
      </button>
      </span>
      <button class="button is-light" (click)="closeModal()">Cancel</button>
    </footer>
  </div>
</div>
<!--delete board modal-->
<div class="modal" id="delete-board-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete Board</p>
      <button class="delete" aria-label="close" (click)="toggleDeleteBoardModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-danger is-light">
        Are you sure you want to delete this board?
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger is-light" (click)="removeThisBoard()">Remove Board</button>
      <button class="button is-light" (click)="toggleDeleteBoardModal()">Cancel</button>
    </footer>
  </div>
</div>
