<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form *ngIf="!divNewPassword" [formGroup]="conFirmForm" (ngSubmit)="confirm()">
      <h1>Forgot Password ?</h1>
      <input type="email" formControlName="username" placeholder="Enter Your User Name" />
      <input type="email" formControlName="email" placeholder="Enter Your Email" />
      <button type="submit">Confirm</button>
    </form>

    <form *ngIf="divNewPassword" [formGroup]="newConFirmForm" (ngSubmit)="changeNewPassword(user.id)">
      <h1>Forgot Password ?</h1>
<!--      password-->
      <input type="password" formControlName="newPassword" placeholder="Enter Your New Password" />
      <div class="col alert alert-danger" role="alert" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
        <div *ngIf="newPassword?.errors?.required" class="col alert alert-danger">
          Password must be required!
        </div>
        <div *ngIf="newPassword?.errors?.minlength" class="col alert alert-danger">
          Password must be at least 5 characters long!
        </div>
        <div *ngIf="newPassword?.errors?.pattern" class="col alert alert-danger">
          Minimum four characters, at least one uppercase letter, one lowercase letter and one number!
        </div>
      </div>
<!--      confirm password-->
      <input type="password" formControlName="confirmPassword" placeholder="Confirm your Password" />
      <div class="col alert alert-danger" role="alert" *ngIf="newConfirmPassword?.invalid && (newConfirmPassword?.dirty || newConfirmPassword?.touched)">
        <div *ngIf="newConfirmPassword?.errors?.required" class="col alert alert-danger">
          Password must be required!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.minlength" class="col alert alert-danger">
          Password must be at least 5 characters long!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.pattern" class="col alert alert-danger">
          Minimum four characters, at least one uppercase letter, one lowercase letter and one number!
        </div>
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="isConfirmPassword">
        Wrong password!
      </div>
      <button class="confirm-button" type="submit" >Confirm</button>
    </form>

  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Forgot your password!</h1>
        <p>Enter your personal name details to get password back</p>
        <button type="submit" class="ghost" id="signUp" routerLink="/login">Login</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!--<pre>-->
<!--  {{newConFirmForm.value | json}}-->
<!--</pre>-->
<!--<pre>-->
<!--  {{password?.errors?.pattern}}-->
<!--</pre>-->
